<%
var attrs, jadeAttrs;

switch(framework.css) {
  case 'bootstrap':
    attrs = ' class="container" role="main"';
    jadeAttrs = 'section.container(role="main")';
    break;
  case 'foundation':
    attrs = ' class="row" role="main"';
    jadeAttrs = 'section.row(role="main")';
    break;
  default:
    attrs = ' role="main"';
    jadeAttrs = 'section(role="main")';
}
%>
<%- genutils.template.partial('layout_header', engine); %>
<% if (engine !== 'jade') { %>
  <body>
    <section<%- attrs %>>
      <%- genutils.template.unescaped('render()', engine); %>
    </section>
  </body>
<% } else { %>
  body
    <%- jadeAttrs %>
      != render()
<% } %>
<%- genutils.template.partial('layout_footer'); %>

