<% if (engine !== 'jade') { %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% } else { %>
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Geddy App | This app uses Geddy.js
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width")
<% } %>
    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%- genutils.template.script('http://html5shim.googlecode.com/svn/trunk/html5.js', engine) %>
    <![endif]-->

    <% switch(framework.css) {
    case 'bootstrap': %>

    <%- genutils.template.stylesheet('bower_components/bootstrap/dist/css/bootstrap.min.css', engine) %>

    <% break; case 'foundation': %>

    <%- genutils.template.script('bower_components/foundation/js/vendor/modernizr.js', engine) %>
    <%- genutils.template.stylesheet('bower_components/foundation/css/normalize.css', engine) %>
    <%- genutils.template.stylesheet('bower_components/foundation/css/foundation.css', engine) %>

    <% break; } %>

    <%- genutils.template.stylesheet('css/style.css', engine) %>
  <% if (engine !== 'jade') { %>
  </head>
  <% } %>

